<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohio National</title>

    <link href="~/Content/loading/loading.css" rel="stylesheet" />
    <script src="~/Content/ckeditor/ckeditor.js"></script>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/jqvmap/jqvmap.min.css">

    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/summernote/summernote-bs4.min.css" />


    <!-- overlayScrollbars -->
    @*<link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">*@
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- summernote -->
    @*<link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/summernote/summernote-bs4.min.css">*@
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/toastr/toastr.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- jspdf -->
    <script src="~/Content/jspdf/jspdf.min.js"></script>
    <script src="~/Content/jspdf/jspdf.plugin.autotable.min.js"></script>

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/Design_AdminLTE/dist/css/adminlte.min.css">

    @RenderSection("Styles", required: false)


</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        @Html.Partial("_Navbar")

        @Html.Hidden("RedirectExit", Url.Action("Index", "Login"))

        @Html.Partial("_Sidebar")

        @*@{
                Html.RenderAction("_Sidebar", "Menu");
            }*@



        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>

        @Html.Partial("_Footer")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>


    @*<script src="~/Scripts/validaciones.js"></script>*@

    <!-- jQuery -->
    <!--<script src="~/Content/Design_AdminLTE/plugins/jquery/jquery.min.js"></script>-->
    <!-- Bootstrap 4 -->
    <!--<script src="~/Content/Design_AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- AdminLTE App -->
    <!--<script src="~/Content/Design_AdminLTE/dist/js/adminlte.min.js"></script>-->
    <!-- jQuery -->
    <script src="~/Content/Design_AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/Design_AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/Design_AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Select2 -->
    <script src="~/Content/Design_AdminLTE/plugins/select2/js/select2.full.min.js"></script>

    <!-- ChartJS -->
    @*<script src="~/Content/Design_AdminLTE/plugins/chart.js/Chart.min.js"></script>*@
    <!-- Sparkline -->
    @*<script src="~/Content/Design_AdminLTE/plugins/sparklines/sparkline.js"></script>*@
    <!-- JQVMap -->
    <script src="~/Content/Design_AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/Design_AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/Design_AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>


    <script src="~/Content/Design_AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/Content/Design_AdminLTE/plugins/moment/moment-with-locales.js"></script>
    <script>
        moment.locale("es");
    </script>
    @*<script src="~/Content/Design_AdminLTE/plugins/inputmask/jquery.inputmask.min.js"></script>*@
    <script src="~/Content/Design_AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>


    <!-- daterangepicker -->
    @*<script src="~/Content/Design_AdminLTE/plugins/moment/moment.min.js"></script>*@
    @*<script src="~/Content/Design_AdminLTE/plugins/inputmask/jquery.inputmask.min.js"></script>*@
    @*<script src="~/Content/Design_AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>*@
    <!-- bootstrap color picker -->
    <script src="~/Content/Design_AdminLTE/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/Design_AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    
    
    <!-- Summernote  aquiiiiiiiiiiiiii-->
    <script src="~/Content/Design_AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>

    <!-- overlayScrollbars -->
    @*<script src="~/Content/Design_AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>*@
    <!-- Toastr -->
    <script src="~/Content/Design_AdminLTE/plugins/toastr/toastr.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Content/Design_AdminLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <!-- AdminLTE App -->
    <!-- <script src="~/Content/Design_AdminLTE/dist/js/adminlte.js"></script> -->
    <script src="~/Content/Design_AdminLTE/dist/js/adminlte.min.js"></script>


    <script>

        /*$('.modal-dialog').draggable();*/

        function formatofecha(_fecha) {
            //alert(_fecha);
            var data = _fecha.toString().split('/');
            var d = data[0];
            var m = data[1];
            var y = data[2];

            //alert('dia ' + d);
            //alert('mes ' + m);
            //alert('año ' + y);
            var newfecha = y + '-' + m + '-' + d;
            //alert(newfecha);

            return newfecha;
        }


        function loadCombo(_id, _controlador, _accion, _div, _vacio) {

            $.ajax({
                url:  _controlador + '/' + _accion,
                type: "GET",
                data: {
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //console.log(result);

                    //alert(_accion);
                    $('#' + _div).html("");

                    if (_vacio == 1) {
                        if (_id == 0) {
                            $('#' + _div)
                                .append(
                                    $('<option selected="selected" value="0"/>').html("Seleccione")
                                );
                        } else {
                            $('#' + _div)
                                .append(
                                    $('<option value="0"/>').html("Seleccione")
                                );
                        }
                    }

                    $.each(JSON.parse(result), function (key, item) {

                        if (item.id_value == _id) {
                            //alert(1);
                            $('#' + _div)
                                .append(
                                    $('<option selected="selected" value="' + item.id_value + '"/>').html(item.valor_value)
                                );
                        } else {
                            //alert(2);
                            $('#' + _div)
                                .append(
                                    $('<option value="' + item.id_value + '"/>').html(item.valor_value)
                                );
                        }

                    });

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        }


        function loadComboempresa(_id, _controlador, _accion, _div, _vacio, _empresa) {

            //alert(_empresa);

            $.ajax({
                url: '/' + _controlador + '/' + _accion,
                type: "GET",
                data: {
                    empresa: _empresa
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //console.log(result);

                    //alert(_accion);
                    $('#' + _div).html("");

                    if (_vacio == 1) {
                        if (_id == 0) {
                            $('#' + _div)
                                .append(
                                    $('<option selected="selected" value="0"/>').html("Seleccione")
                                );
                        } else {
                            $('#' + _div)
                                .append(
                                    $('<option value="0"/>').html("Seleccione")
                                );
                        }
                    }


                    $.each(JSON.parse(result), function (key, item) {
                        //alert(item.valor_value);

                        if (item.id_value == _id) {
                            //alert(1);
                            $('#' + _div)
                                .append(
                                    $('<option selected="selected" value="' + item.id_value + '"/>').html(item.valor_value)
                                );
                        } else {
                            //alert(2);
                            $('#' + _div)
                                .append(
                                    $('<option value="' + item.id_value + '"/>').html(item.valor_value)
                                );
                        }

                    });

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        }


        function soloLet(e) {
            var key = e.keyCode || e.which,
                tecla = String.fromCharCode(key).toLowerCase(),
                letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
                especiales = [8, 46],
                tecla_especial = false;

            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }

        function soloNum(e) {
            var key = e.keyCode || e.which,
                tecla = String.fromCharCode(key).toLowerCase(),
                letras = "0123456789",
                especiales = [8],
                tecla_especial = false;

            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }

        select();
        function select() {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', false);
                //, $(this).prop('checked')
            })

        }

        const alert_success = (title, msg) => {
            swal({
                title: title,
                text: msg,
                icon: "success",
            });
        }

        const alert_error = (title, msg) => {
            swal({
                title: title,
                text: msg,
                icon: "error",
            });
        }

        function Salir() {
            swal("Seguro de salir", "", "warning", {
                buttons: {
                    cancel: "Cancelar!",
                    catch: {
                        text: "OK",
                        value: "catch",
                    },
                    defeat: false,
                },
            })
                .then((value) => {
                    switch (value) {
                        case "defeat":
                            swal("Pikachu fainted! You gained 500 XP!");
                            break;
                        case "catch":
                            //swal("Gotcha!", "Pikachu was caught!", "success");
                            CerrarSesion();
                            break;
                        //default:
                        //  swal("Got away safely!");
                    }
                });
        }

        function CerrarSesion() {
            $.ajax({
                url: '/Menu/Salir',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: {},
                success: function (result) {
                    //alert(result);
                    var _url = $("#RedirectExit").val();
                    location.href = _url;
                },
                error: function (err) {
                    alert_error(err.statusText);
                }
            });
        }


    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>


<script>

    

</script>

